<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <DXThemeManager>
    <setting name="ApplicationThemeName" serializeAs="String">
      <value>None</value>
    </setting>
  </DXThemeManager>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Office 2019 White</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="Office 2019 Black">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="38,38,38"/>
                <SvgColor Name="Paint High" Value="50,50,50"/>
                <SvgColor Name="Paint Shadow" Value="50,50,50"/>
                <SvgColor Name="Paint Deep Shadow" Value="68,68,68"/>
                <SvgColor Name="Paint Dark" Value="10,10,10"/>
                <SvgColor Name="Brush" Value="241,241,241"/>
                <SvgColor Name="Brush High" Value="241,241,241"/>
                <SvgColor Name="Brush Light" Value="120,120,120"/>
                <SvgColor Name="Brush Major" Value="102,102,102"/>
                <SvgColor Name="Brush Minor" Value="70,70,70"/>
                <SvgColor Name="Accent Paint" Value="0,120,212"/>
                <SvgColor Name="Accent Paint Dark" Value="16,110,190"/>
                <SvgColor Name="Accent Paint Light" Value="68,68,68"/>
                <SvgColor Name="Accent Paint Lighter" Value="80,80,80"/>
                <SvgColor Name="Accent Brush" Value="255,255,255"/>
                <SvgColor Name="Accent Brush Light" Value="88,184,254"/>
                <SvgColor Name="Red" Value="233,76,79"/>
                <SvgColor Name="Green" Value="115,221,131"/>
                <SvgColor Name="Blue" Value="59,154,220"/>
                <SvgColor Name="Yellow" Value="248,183,96"/>
                <SvgColor Name="Black" Value="212,212,212"/>
                <SvgColor Name="Gray" Value="120,120,120"/>
                <SvgColor Name="White" Value="50,50,50"/>
              </SvgPalette>
            </Skin>
            <Skin Name="Office 2019 White">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="White"/>
                <SvgColor Name="Paint High" Value="White"/>
                <SvgColor Name="Paint Shadow" Value="240,240,240"/>
                <SvgColor Name="Paint Deep Shadow" Value="230,230,230"/>
                <SvgColor Name="Brush" Value="72,70,68"/>
                <SvgColor Name="Brush High" Value="72,70,68"/>
                <SvgColor Name="Brush Light" Value="119,119,119"/>
                <SvgColor Name="Brush Major" Value="171,171,171"/>
                <SvgColor Name="Brush Minor" Value="225,225,225"/>
                <SvgColor Name="Accent Paint" Value="16,110,190"/>
                <SvgColor Name="Accent Paint Dark" Value="0,90,158"/>
                <SvgColor Name="Accent Paint Light" Value="205,230,247"/>
                <SvgColor Name="Accent Paint Lighter" Value="230,242,250"/>
                <SvgColor Name="Accent Brush" Value="255,255,255"/>
                <SvgColor Name="Accent Brush Light" Value="179,214,242"/>
                <SvgColor Name="Red" Value="237,61,59"/>
                <SvgColor Name="Green" Value="48,144,72"/>
                <SvgColor Name="Blue" Value="30,139,205"/>
                <SvgColor Name="Yellow" Value="251,152,59"/>
                <SvgColor Name="Black" Value="87,87,85"/>
                <SvgColor Name="Gray" Value="169,168,168"/>
                <SvgColor Name="White" Value="255,255,255"/>
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
